/*
* @Author: 史琳
* @Date:   2017-07-19 10:44:20
* @Last Modified by:   史琳
* @Last Modified time: 2017-07-23 15:25:07
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.navi{
	width: 100%;
	height: 2.92rem;
	/* background: red; */
}
.nava1{
	width: 100%;
	height: 2.92rem;
/* 	background: pink; */
}
.nava1 li{
    width: 20%;
    height: 1.46rem;
    /* background: yellow; */
    float: left;
}
.nava1 li a[class$="1"]{
	display: block;
	width: 0.72rem;
	height: 0.72rem;
	margin: 0 auto;
	margin-top: 0.08rem;
}
.nava1 li a[class$="1"] img{
	width: 100%;
	height: 100%;
	display: block;
}
.nava1 li a[class$="2"]{
	display: block;
	width: 0.96rem;
	height: 0.22rem;
	margin: 0 auto;
	margin-top: 0.15rem;
	font-size: 0.22rem;
	color: #051b28;
	text-align: center;
}
header{
	width: 100%;
	height: 0.88rem;
	background: #f32d2d;
	position: fixed;
	z-index: 999;
}
#head{
	width: 100%;
	height: 0.88rem;
}
@font-face {
  font-family: 'iconfont';  /* project id 358595 */
  src: url('http://at.alicdn.com/t/font_t405476wefw7y14i.eot');
  src: url('http://at.alicdn.com/t/font_t405476wefw7y14i.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_t405476wefw7y14i.woff') format('woff'),
  url('http://at.alicdn.com/t/font_t405476wefw7y14i.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_t405476wefw7y14i.svg#iconfont') format('svg');
}
.headleft{
	font-family: 'iconfont';
	width: 0.45rem;
	height: 0.37rem;
    margin-top: 0.21rem;
    margin-left: 0.4rem;
	font-size: 0.37rem;
	color: #fff;
	text-align: center;
	float: left;
}
.headmain{
	width: 4rem;
	height: 0.66rem;
	background: #fee9e9;
	margin-left: 0.38rem;
	margin-top: 0.1rem;
	border-radius: 3%;
	float: left;
	position: relative;
}
.souso{
	width: 4rem;
	height: 0.66rem;
	border-radius: 3%;
	float: left;
	background: #fee9e9;
	border: none;
}
.souso1{
	width: 0.84rem;
	height: 0.66rem;
	position: absolute;
	background: #fee9e9 url('../img/sousuo.png') no-repeat 50% 50%;
	background-size: 0.84rem 0.66rem;
	border: none;
	float: left;
	right: 0rem;
}
/* .souso1 img{
	width: 100%;
	height: 0.66rem;
	float: left;
} */
.headright{
	width: 0.50rem;
	height: 0.24rem;
    margin-top: 0.24rem;
    margin-right: 0.36rem;
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
	float: right;
}
.banner{
	width: 100%;
	height: 2.22rem;
	position: relative;
}
.banner1{
	width: 100%;
	height: 2.22rem;
}
.banner1 img{
	width: 100%;
	height: 2.22rem;
}
.lunbodian{
	width: 1.6rem;
	height: 0.14rem;
	position: absolute;
	left: 2.5rem;
	bottom: 0.16rem; 
}
.lunbodian li{
	width: 0.10rem;
	height: 0.10rem;
	border-radius: 50%;
	background: #7b7b7d;
	border: 0.02rem solid #7b7b7d;
	float: left;
	margin-right: 0.04rem;
}
.lunbodian .last{
	display: block;
	margin-right: 0rem;
	background: #fff;
}
.redian{
	width: 100%;
	height: 1rem;
	background: #fff;
}
.redianleft{
	width: 1.32rem;
	height: 0.8rem;
	float: left;
}
.redianleft img{
	width: 100%;
	height: 100%;
	float: left;
}
.redianright{
    width: 5.06rem;
    height: 0.8rem;
    border-left: 0.02rem solid #e7e7e7; 
    float: left;
}
.redianright1{
	width: 0.38rem;
	height: 0.32rem;
	margin-top: 0.26rem;
	margin-left: 0.26rem;
	margin-right: 0.2rem;
	float: left;
}
.redianright1 img{
	width: 100%;
	height: 100%;
	float: left;
}
.redianright2{
	width: 4.22rem;
	height: 0.8rem;
	float: left;
}
.redianright21{
    width: 100%;
    height: 0.26rem;
    margin-top: 0.04rem;
    margin-bottom: 0.16rem;
    font-size: 0.22rem;
    color: #000;
}
.redianright22{
    width: 100%;
    height: 0.22rem;
    font-size: 0.22rem;
    color: #ff2f2f;
}
.jinri{
	width: 100%;
	height: 2.18rem;
	background: #f0f0f0;
}
.jinritop{
	width: 100%;
	height: 0.1rem;
}
.jinrimain{
	display: block;
	width: 3.46rem;
	height: 2.08rem;
	margin-left: 0.05rem;
}
.jinrimain img{
	width: 100%;
	height: 100%;
}
.biqiang{
	width: 100%;
	height: 5.72rem;
	background: #f0f0f0;
}
.biqiangtop{
	width: 100%;
	height: 0.61rem;
	overflow: hidden;
}
.biqiangtop1{
    width: 0.68rem;
    height: 0.02rem;
    background: #f6b7b7;
    margin-top: 0.3rem;
    margin-left: 1.88rem;
    float: left;
}
.biqiangtop2{
    width: 0.25rem;
    height: 0.33rem;
    margin-top: 0.13rem;
    margin-left: 0.19rem;
    float: left;
}
.biqiangtop2 img{
    width: 100%;
    height: 100%;
    float: left;
}
.biqiangtop3{
    width: 0.57rem;
    height: 0.25rem;
    margin-top: 0.19rem;
    margin-left: 0.09rem;
    font-size: 0.25rem;
    color: #fc2e2e;
    float: left;
}
.biqiangtop4{
    width: 0.68rem;
    height: 0.02rem;
    background: #f6b7b7;
    margin-top: 0.3rem;
    margin-left: 0.18rem;
    float: left;
}
.biqiangmain{
	width: 100%;
	height: 5.11rem;
	background: #fff;
}
.biqiangmain1{
	width: 100%;
	height: 2.55rem;
}
.biqiangmain2{
	border-bottom: 0.01rem solid #f0f0f0;
}
.biqiangmain1 li{
	width: 25%;
	height: 2.55rem;
	float: left;
}
.biqiangmain1 li:nth-child(3){
	border-right: 0.01rem solid #f0f0f0;
	box-sizing: border-box;
}
.biqiangmain1 li a div[class^="biqiang1"]{
	width: 100%;
	height: 0.24rem;
	margin-top: 0.14rem;
	font-size: 0.14rem;
	color: #000;
	text-align: center;
	margin-bottom: 0.22rem;
}
.biqiangmain1 li a div[class^="biqiang2"]{
	width: 1.32rem;
	height: 1.36rem;
	margin: 0 auto;
	margin-bottom: 0.2rem
}
.biqiangmain1 li a div[class^="biqiang2"] img{
	width: 100%;
	height: 100%;
}
.biqiangmain1 li a div[class^="biqiang3"]{
	width: 100%;
	height: 0.2rem;
	font-size: 0.2rem;
	color: #ff2e2e;
	text-align: center;
}
.biqiangmain1 li a div[class^="biqiang3"] s{
	color: #9b9b9b;
	text-decoration: line-through;

}
.kuwan{
	width: 100%;
	height: 3.22rem;
	background: #f0f0f0;
}
.kuwantop{
	width: 100%;
	height: 0.62rem;
}
.kuwantop1{
    width: 0.68rem;
    height: 0.02rem;
    background: #becfec;
    margin-top: 0.3rem;
    margin-left: 1.60rem;
    float: left;
}
.kuwantop2{
    width: 0.25rem;
    height: 0.33rem;
    margin-top: 0.13rem;
    margin-left: 0.19rem;
    float: left;
}
.kuwantop2 img{
    width: 100%;
    height: 100%;
    float: left;
}
.kuwantop3{
    width: 1.17rem;
    height: 0.25rem;
    margin-top: 0.19rem;
    margin-left: 0.09rem;
    font-size: 0.25rem;
    color: #6eafe9;
    float: left;
}
.kuwantop4{
    width: 0.68rem;
    height: 0.02rem;
    background: #becfec;
    margin-top: 0.3rem;
    margin-left: 0.02rem;
    float: left;
}
.kuwanmain{
	width: 100%;
	height: 2.60rem;
	background: #fff;
}
.kuwanmain1,.kuwanmain2,.kuwanmain3{
	width: 33.333333%;
	height: 2.60rem;
	float: left;
	display: block;
}
.kuwanmain1 img,.kuwanmain2 img,.kuwanmain3 img{
	width: 100%;
	height: 2.60rem;
}
.temai{
	width: 100%;
	height: 2.5rem;
	background: #f0f0f0;
}
.temaitop{
	width: 100%;
	height: 0.62rem;
}
.temaitop1{
    width: 0.68rem;
    height: 0.02rem;
    background: #ffcc99;
    margin-top: 0.3rem;
    margin-left: 1.60rem;
    float: left;
}
.temaitop2{
    width: 0.33rem;
    height: 0.33rem;
    margin-top: 0.13rem;
    margin-left: 0.19rem;
    float: left;
}
.temaitop2 img{
    width: 100%;
    height: 100%;
    float: left;
}
.temaitop3{
    width: 1.17rem;
    height: 0.25rem;
    margin-top: 0.19rem;
    margin-left: 0.09rem;
    font-size: 0.25rem;
    color: #ff8000;
    float: left;
}
.temaitop4{
    width: 0.68rem;
    height: 0.02rem;
    background: #ffcc99;
    margin-top: 0.3rem;
    margin-left: 0.02rem;
    float: left;
}
.temaimain{
	width: 100%;
	height: 1.88rem;
	background: #fff;
}
.temai1,.temai2{
	display: block;
	width: 50%;
	height: 1.88rem;
	border-right: 0.02rem solid #f0f0f0;
	box-sizing: border-box;
	float: left;
}
.temai2{
	border-right: 0rem solid #f0f0f0;
}
.temai1 img,.temai2 img{
	width: 100%;
	height: 1.88rem;
}
.bianjie{
	width: 100%;
	height: 3.07rem;
	background: #f0f0f0;
}
.bianjietop{
	width: 100%;
	height: 0.62rem;
}
.bianjietop1{
    width: 0.68rem;
    height: 0.02rem;
    background: #bbd79f;
    margin-top: 0.3rem;
    margin-left: 1.60rem;
    float: left;
}
.bianjietop2{
    width: 0.33rem;
    height: 0.33rem;
    margin-top: 0.13rem;
    margin-left: 0.19rem;
    float: left;
}
.bianjietop2 img{
    width: 100%;
    height: 100%;
    float: left;
}
.bianjietop3{
    width: 1.17rem;
    height: 0.25rem;
    margin-top: 0.19rem;
    margin-left: 0.09rem;
    font-size: 0.25rem;
    color: #43af00;
    float: left;
}
.bianjietop4{
    width: 0.68rem;
    height: 0.02rem;
    background: #bbd79f;
    margin-top: 0.3rem;
    margin-left: 0.02rem;
    float: left;
}
.bianjiemain{
	width: 100%;
	height: 2.45rem;
	background: #fff;
}
.bianjiemain1{
	width: 44.375%;
	height: 2.45rem;
	border-right: 1px solid #f0f0f0;
	box-sizing: border-box;
	display: block;
	float: left;
}
.bianjiemain1 img{
	width: 100%;
	height: 100%;
}
.bianjiemain2{
	width: 55.625%;
	height: 2.45rem;
	float: left;
}
.bianjiemain21{
	width: 100%;
	height: 1.22rem;
	display: block;
}
.bianjiemain22{
	border-bottom: 1px solid #f0f0f0;
}
.bianjiemain21 img{
	width: 100%;
	height: 100%;
}
.remen{
	width: 100%;
	height: 7.85rem;
	background: #f0f0f0;
}
.rementop{
	width: 100%;
	height: 0.62rem;
}
.rementop1{
    width: 0.68rem;
    height: 0.02rem;
    background: #c9d0f7;
    margin-top: 0.3rem;
    margin-left: 1.60rem;
    float: left;
}
.rementop2{
    width: 0.33rem;
    height: 0.33rem;
    margin-top: 0.13rem;
    margin-left: 0.19rem;
    float: left;
}
.rementop2 img{
    width: 100%;
    height: 100%;
    float: left;
}
.rementop3{
    width: 1.17rem;
    height: 0.25rem;
    margin-top: 0.19rem;
    margin-left: 0.09rem;
    font-size: 0.25rem;
    color: #5e4ae4;
    float: left;
}
.rementop4{
    width: 0.68rem;
    height: 0.02rem;
    background: #c9d0f7;
    margin-top: 0.3rem;
    margin-left: 0.02rem;
    float: left;
}
.remenmain{
	width: 100%;
	height: 7.23rem;
	background: #fff;
}
.rement{
	width: 100%;
	height: 2.01rem;
	border-bottom: 0.01rem solid #f0f0f0;
}
.rement1,.rement2{
	display: block;
	width: 50%;
	height: 2.01rem;
	border-right: 0.01rem solid #f0f0f0;
	box-sizing: border-box;
	float: left;
}
.rement2{
	border-right: 0rem solid #f0f0f0;
}
.remens{
	width: 100%;
	height: 5.21rem;
}
.remen1{
	width: 100%;
	height: 2.6rem;
}
.remen2{
	border-bottom: 0.01rem solid #f0f0f0; 
}
.remen1 li{
	width: 25%;
	height: 2.6rem;
	border-right: 0.01rem solid #f0f0f0;
	box-sizing: border-box;
	float: left;
}
.remen1 li:nth-child(4){
	border-right: 0rem solid #f0f0f0;
}
.remend{
	width: 1.57rem;
	height: 2.01rem;
	float: left;
	position: relative;
}
.remen11{
	width: 1.15rem;
	height: 0.24rem;
	position: absolute;
	top: 0.18rem;
	left: 0.24rem;
	font-size: 0.24rem;
	color: #000;
}
.remen12{
	width: 1.44rem;
	height: 0.22rem;
	position: absolute;
	top: 0.58rem;
	left: 0.09rem;
	font-size: 0.22rem;
	color: #9b9b9b;
}
.remen13{
	width: 1.60rem;
	height: 2.01rem;
	margin-top: 0rem;
	margin-right: 0rem;
	float: right;
}
.remen13 img{
	width: 100%;
	height: 100%;
}
.remen21{
	width: 100%;
	height: 0.24rem;
	margin-top: 0.2rem;
	font-size: 0.24rem;
	color: #000;
	text-align: center;
}
.remen22{
	width: 100%;
	height: 0.22rem;
	margin-top: 0.12rem;
	font-size: 0.22rem;
	color: #9b9b9b;
	text-align: center;
}
.remen23{
	width: 1.45rem;
	height: 1.66rem;
	margin-top: 0.08rem;
}
.remen23 img{
	width: 1.45rem;
	height: 1.66rem;
}
.xihuan{
	width: 100%;
	height: 5.42rem;
	background: #f0f0f0;
}
.xihuantop{
	width: 100%;
	height: 0.88rem;
}
.xihuantop1{
    width: 0.28rem;
    height: 0.03rem;
    background: #999999;
    margin-top: 0.45rem;
    margin-left: 2.24rem;
    float: left;
}
.xihuantop3{
    width: 1.10rem;
    height: 0.26rem;
    margin-top: 0.31rem;
    margin-left: 0.08rem;
    font-size: 0.26rem;
    color: #999999;
    float: left;
}
.xihuantop4{
    width: 0.28rem;
    height: 0.03rem;
    background: #999999;
    margin-top: 0.45rem;
    margin-left: 0rem;
    float: left;
}
.xihuanmain{
	width: 100%;
	height: 4.54rem;
	background: #fff;
}
.xihuan1,.xihuan2{
	display: block;
	width: 50%;
	height: 4.54rem;
	border-right: 0.06rem solid #f0f0f0;
	box-sizing: border-box;
	float: left;
}
.xihuan2{
	border-right: 0rem solid #f0f0f0;
}
.xh1{
	width: 100%;
	height: 3.17rem;
}
.xh1 img{
	width: 100%;
	height: 100%;
}
.xh2{
	width: 2.9rem;
	height: 0.6rem;
	margin-top: 0.1rem;
	margin-left: 0.19rem;
	font-size: 0.28rem;
	line-height: 0.3rem;
	color: #666666;
}
.xh3{
	width: 2.9rem;
	height: 0.26rem;
	margin-top: 0.18rem;
	margin-left: 0.19rem;
	font-size: 0.26rem;
	color: #dd2727;
}
.weibu{
	width: 100%;
	height: 0.86rem;
	background: #eeeeee;
	border-bottom: 0.04rem solid #000;
	overflow: hidden;
}
.weibu1{
	width: 0.65rem;
	height: 0.45rem;
	margin: 0 auto;
	margin-top: -0.3rem;

}
.weibu1 img{
	width: 100%;
	height: 100%;
}
footer{
	width: 100%;
	height: 2.02rem;
	background: #fff;
	overflow: hidden;
}
.denglu{
	width: 81.875%;
	height: 0.23rem;
	margin-top: 0.45rem;
	margin-left: 0.6rem;
	margin-bottom: 0.68rem;
}
.denglu li{
	height: 0.23rem;
	padding-left: 0.34rem;
	padding-right: 0.34rem;
	font-size: 0.23rem;
	color: #999999;
	border-right: 0.02rem solid #999999;
	float: left;
}
.denglu li a{
	color: #999999;
	display: block;
}

.denglu .first{
	padding-left: 0rem;
}
.denglu .last{
	padding-right: 0rem;
	border-right: 0rem solid #999999;
}
.banquan{
	width: 100%;
	height: 0.22rem;
	font-size: 0.22rem;
	color: #cccccc;
	text-align: center;
}