*{
	margin: 0;
	padding:0;
	list-style: none;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
main{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.left{
	width: 100px;
	height: 100%;
	background: #CAD4E3;
}
.left>label{
	width: 34px;
	height: 34px;
	box-sizing: border-box;
	border:1px solid #4974c1;
	float: left;
	margin:20px 6px 0 6px;
	font-family: 'iconfont';
	font-size: 20px;
	color: #4974c1;
	text-align: center;
	line-height: 34px;
}
.left>label[active=true]{
	border:1px solid red;
}
.right{
	position: absolute;
	left: 100px;
	right: 0;
	top: 0;
	bottom: 0;
}
.top{
	width: 100%;
	height: 80px;
	background: #F5F6F7;
}
.top>label,a{
	width: 34px;
	height: 34px;
	display: block;
	box-sizing: border-box;
	border:1px solid #aac9ff;
	float: left;
	margin:23px 6px 0 10px;
	font-family: 'iconfont';
	font-size: 20px;
	color: #79a8f9;
	text-align: center;
	line-height: 34px;
}
.top>label:first-child{
	margin-left: 30px;
}
.top>label[active=true],a[active=true]{
	border:1px solid red;
}
.top>.reverse{
	font-size: 12px;
}
.bottom{
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	bottom: 0;
}
.bottom .eraser{
	position: absolute;
	left: 0;
	top: 0;
    width: 20px;
    height: 20px;
    background: red;
    display: none;
}
.bottom .mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 1200px;
	height: 520px;
}
.bottom .clip{
	position: absolute;
	left: 0;
	top: 0;
	border:1px dashed #000000;
	display: none;
}
