.tops{
	width: 100%;
	height: 66px;
}
.topl{
	font-family: 'iconfont';
	font-size: 14px;
	color: #a6a5a5;
	line-height: 66px;
	float: left;
}
.attract{
	width: 100%;
	height: 1100px;
	background: #f7f7f7;
	margin-bottom: -60px;
}
.attract>main{
	height: 100%;
    position: relative;
}
.top1{
	width: 100%;
	height: 90px;
	padding: 50px 0;
}
.top1>div:first-child{
	font-size: 28px;
	color: #6b6b6b;
	text-align: center;
	line-height: 54px;
}
.topmain1{
	width: 220px;
	height: 36px;
	margin: 0 auto;
	/* overflow: hidden; */
}
.topmain1>div:first-child{
    width: 50px;
    height: 2px;
    background: #6b6b6b;
    margin-top: 17px; 
    float: left;
}
.topmain1>div:last-child{
    width: 50px;
    height: 2px;
    background: #6b6b6b;
    margin-top: 17px; 
    float: right;
}
.topmain1>div:nth-child(2){
	width: 120px;
	float: left;
	margin: 0 auto;
	font-size: 22px;
	color: #f99a18;
	text-align: center;
	line-height: 36px;
}
.attractm{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.attractm>a{
	width: 380px;
	height: 360px;
	display: block;
	border: 1px solid #fff;
	border-radius: 5px;
	background: #fff;
	margin-top: 12px;
}
.attractm>a>img{
	width: 330px;
	height: 176px;
	margin: 20px 25px 4px;
}
.attractm>a>h3{
	font-size: 16px;
	color: #585858;
	font-weight: normal;
	line-height: 44px;
	margin-left: 25px;
}
.attractm>a>div:first-of-type{
	width: 330px;
	height: 54px;
	font-size: 12px;
	color: #585858;
	line-height: 18px;
	margin-left: 25px;
	margin-bottom: 16px
}
.xq{
	font-size: 12px;
	color: #585858;
	text-align: center;
	line-height: 40px;
	border-top: 1px solid #f2f2f2;
}
.xq:hover{
	color: #f99a18;
}
.yeshu{
	width: 755px;
	position: absolute;
	bottom: 98px;
	right: 0;
}
.yeshu>a{
	font-size: 12px;
	color: #585858;
	padding: 11px 12px;
	margin-right: 10px;
	background: #eaeaea;
	border: 1px solid #444444;
	box-sizing: border-box;
}
.yeshu>a:last-child{
	margin-right: 0;
}
.yeshu .hot{
	background: #f99a18;
	color: #fff;
}
.attractm .choose{
	border: 1px solid #f99a18;
}